---

---
@import "../_sass/vars";
@import "../_sass/nav";
@import "../_sass/about";
@import "../_sass/work";


body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: calc(1em + 1vw);
    font-weight: normal;
    color: $black;
    //background: $bodyBackground;
}

header {
    width: 100%;
    position: fixed;
    z-index: $z-index-4;
}

a {
    text-decoration: none;
}

section.page-wrapper {
    //height: 100vh;
    position: absolute;
}

.main {
    padding: 60px 0 0 0;
    //z-index: $zIndex-1;
    //position: absolute;
    //top: 0;
    //bottom: 0;
    width: 100%;
}

//canvas.particles-js-canvas-el {
//    z-index: $zIndex-0;
//}

.main-section {
    width: 80%;
    margin: 0 auto;
}


@media (min-width: 480px) { @import "../_sass/screens/min-width-480"; }
@media (min-width: 768px) { @import "../_sass/screens/min-width-768"; }
@media (min-width: 1024px) { @import "../_sass/screens/min-width-1024"; }
@media (min-width: 1280px) { @import "../_sass/screens/min-width-1280"; }
