.nav-logo {
    width: 200px;
    background: url('/assets/images/logo.png') no-repeat center;
    background-size: cover;
    //    height: 90%;
    //    margin: 1% 0;
    display: block;
}

.nav-items {
    //width: 75%;
    display: block;
}

.nav-tab-drawer {
    display: none;
}