<div id="code" class="main-section">
    <!--<h4>Code</h4>-->

    <div class="work-links">
        <p>To check out more of my work see
            <a class="work-logo" href="https://github.com/heronblade" alt="Github">
                <img src="assets/images/github.png" alt="github">
            </a>
            and
            <a class="work-logo" href="https://bitbucket.org/joshbyler/" alt="Bitbucket">
                <img src="assets/images/bitbucket.png">
            </a>
        </p>
    </div>
</div>