<div class="work main-section">
    <h4>My Projects</h4>
    <p></p>

    <!--this can be cards, one for each thing I've worked on-->
    <!--on-click opens up and shows a little bit more information-->

    <div class="work-links">
        If you would like to know see more, check out my <a class="work-logo" href="https://github.com/heronblade" alt="Github">Github</a> and <a class="work-logo" href="https://bitbucket.org/joshbyler/" alt="Bitbucket">Bitbucket</a> accounts





    </div>
    <!--Add links here to github/bitbucket-->
</div>