@import "vars";

nav {
    display: flex;
    justify-content: center;
    height: $nav-height;
    @include box-shadow($bs-1);
    background-color: $verylitegrey;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    height: $nav-height;
    width: $nav-li-width;
}

nav li a {
    display: block;
    margin: 0 auto;
    padding: 21px 20px
}

.nav-logo {
    width: 25%;
}

.nav-items {
    width: 75%;
}
