@import "vars";

nav {
    display: flex;
    justify-content: center;
    height: $nav-height;
    @include box-shadow($bs-1);
    background-color: $bodyBackground;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    //justify-content: center;
    justify-content: space-around;
    //align-items: baseline;
}

nav li {
    //display: inline-block;
    display: flex;

    align-self: baseline;
    height: $nav-height;
    width: auto;
}

nav li a {
    display: block;
    margin: 0 auto;
    align-self: center;
    //padding: 21px 20px;
    color: $black;

    &:hover {
        background-color: $medgrey;
        color: $highlight-text;
    }
}

.nav-logo {
    display: none;
}

.nav-items {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
